@model Aladdin.Models.Customer

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutNOHEADERFOOTER.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row1">

        <div class="row1" style="margin-left:10">
            <div class="col-md-4">
                <label for="fname">Username</label>
                <input type="text" id="CustomerName" name="fname" value=@Model.CustomerName><br><br>
                <label for="lname">CustomerID</label>
                <input type="text" id="CustomerID" name="lname" value=@Model.CustomerID><br><br>
                <label for="lname">CustomerEmail</label>
                <input type="text" id="CustomerEmail" name="lname" value=@Model.CustomerEmail><br><br>
                <input type="button" value="Delete" id="btn" class="Create btn btn-primary">
            </div>
        </div>
</div>

</div>

@section Scripts {

    <script>
        $('#btn').click(function () {
            var elmId = $(this).attr("id");
            send($('#CustomerID').val());
        });



        function send() {
            $.post("/customers/delete", { id: $('#CustomerID').val() }, function (data) {
                $("#maindiv").html(data);
            });
        }
    </script>




    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
