@model Aladdin.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutNOHEADERFOOTER.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />

    <div class="1row">
        <div class="col-md-4">
            <label for="fname">ProductName</label>
            <input type="text" id="ProductName" name="fname" value=@Model.ProductName><br><br>
            <label for="lname">ProductID</label>
            <input type="text" id="ProductID" name="lname" value=@Model.ProductID><br><br>
            <label for="lname">SupplierID</label>
            <input type="text" id="SupplierID" name="lname" value=@Model.SupplierID><br><br>
            <input type="button" value="Delete" id="btn" class="Create btn btn-primary">
        </div>
    </div>
</div>





@section Scripts {

    <script>
        $('#btn').click(function () {
            var elmId = $(this).attr("id");
            //getDetails(elmId);
            console.log("ASDASD");
            console.log($('#ProductID').val());
            send($('#ProductID').val());
        });



        function send() {
            $.post("/products/delete", { id: $('#ProductID').val()}, function (data) {
                console.log(data); // John
                console.log(data); // 2pm
                $("#maindiv").html(data);
            });
        }
    </script>




    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
