@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model Aladdin.Models.Product
@{
    Layout = "~/Views/Shared/mylayout.cshtml";
    ViewData["Title"] = "Details";
    var cart_id = HttpContextAccessor.HttpContext.Request.Cookies["cart_id"];
}
<link rel="stylesheet" href="~/css/products.css">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@*<link rel="stylesheet" href="~/css/shared-style.css">*@

@section scripts
{
    <script>
    $('#addcart').click(function () {
        @if (cart_id == null) {
            <text>
            alert("you need to login first");
            window.location.replace("/home/login");
            </text>
        }
        else {
            <text>
        $.get('/carts/addproduct',
            {
                'cartid': @cart_id ,
                'productid': "@Html.DisplayFor(model => model.ProductID)",
                'size': size
            }).fail(function () {
                alert('sold out.');
            }).done(function () {
                alert("added to cart");
            })
        </text>
        }

    });


        // convert currency
        function convertCurrency(curr) {
            var selected = curr.value;
            var amount = $("#price")[0].innerText;
            var result;
            fetch(`https://free.currconv.com/api/v7/convert?q=USD_ILS&compact=ultra&apiKey=55188a61473d21f7818f`)
                .then(response => response.json())
                .then(data => {
                    if (selected === "USD") {
                        result = amount / data["USD_ILS"];
                    }
                    else {
                        result = amount * data["USD_ILS"];
                    }
                    $('#price')[0].innerText = result.toFixed(2);
                });

        }

        // show star rating
        var rating = @Html.DisplayFor(model => model.ProductRating);

        var i, j;
        for (i = 0; i < rating; i++) {
            const span = document.createElement("span");
            span.className = "fa fa-star checked";
            const element = document.getElementById("rating");
            element.appendChild(span);
        }
        for (j = i; j < 5; j++) {
            const span = document.createElement("span");
            span.className = "fa fa-star";
            const element = document.getElementById("rating");
            element.appendChild(span);
        }

    </script>
    <script>
        var size = "";
        $('.small-size').click(small);
        function small() {
            size = "S";
        }
        $('.medium-size').click(medium);
        function medium() {
            size = "M";
        }
        $('.large-size').click(large);
        function large() {
            size = "L";
        }

    </script>
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutorial</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/style.css" />

</head>
<body>

    <div id="Itemdetails">
        <main class="container">

            <!-- Left Column / Headphones Image -->
            <div class="left-column">
                <img data-image="red" class="active" src="/images/@Html.DisplayFor(model => model.ProductImage)" alt="">
            </div>


            <!-- Right Column -->
            <div class="right-column">

                <!-- Product Description -->
                <div class="product-description">
                    <h1>@Html.DisplayFor(model => model.ProductName)</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet tempora dolore tempore, molestias
                        beatae ipsam nemo et praesentium. Consequuntur, placeat!
                    </p>
                </div>

                <!-- Product Configuration -->
                <div class="product-configuration">

                    <!-- Hat Sizes -->
                    <div class="hat-size-config">
                        <span>Hat Size</span>

                        <div class="size-choose">
                            <button class="small-size">S</button>
                            <button class="medium-size">M</button>
                            <button class="large-size">L</button>
                        </div>
                    </div>
                </div>

                <!-- Product Pricing -->
                <div class="product-price">
                    <span>Price: </span>&nbsp;

                    <span id="price">@Html.DisplayFor(model => model.ProductPrice)</span>
                    <span>
                        <select class="nav-link select-box" aria-labelledby="navbarDropdown" onchange="convertCurrency(this)">
                            <option value="USD">USD</option>
                            <option value="ILS">ILS</option>
                        </select>
                    </span>

                </div>

                <!-- Rating-->
                <div class="product-rating" id="rating">
                    <span>Rating: </span>&nbsp;
                </div>


                <div class="add-to-cart">
                    <button class="btn cart-btn" id="addcart">Add to cart</button>
                </div>


            </div>
        </main>
    </div>
</body>
</html>