@model Aladdin.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutNOHEADERFOOTER.cshtml";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />






<div class="row">
    <div class="col-md-4">
        <label for="fname">ProductName</label>
        <input type="text" id="ProductName" name="fname" value=@Model.ProductName><br><br>

        <label for="fname">ProductID-Primary-KEY</label>
        <input type="text" id="ProductID" name="fname" value=@Model.ProductID><br><br>

        <label for="fname">SupplierID-Foreign-KEY</label>
        <input type="text" id="SupplierID" name="fname" value=@Model.SupplierID><br><br>

        <label for="lname">ProductQuantityS</label>
        <input type="number" id="ProductQuantityS" name="lname" value=@Model.ProductQuantityS><br><br>

        <label for="lname">ProductQuantityM</label>
        <input type="number" id="ProductQuantityM" name="lname" value=@Model.ProductQuantityM><br><br>

        <label for="lname">ProductQuantityL</label>
        <input type="number" id="ProductQuantityL" name="lname" value=@Model.ProductQuantityL><br><br>

        <label for="lname">ProductColor</label>
        <input type="text" id="ProductColor" name="lname" value=@Model.ProductColor><br><br>

        <label for="lname">ProductRating</label>
        <input type="number" id="ProductRating" name="lname" value=@Model.ProductRating><br><br>

        <label for="lname">ProductPrice</label>
        <input type="number" id="ProductPrice" name="lname" value=@Model.ProductPrice><br><br>

        <label for="lname">ProductImage</label>
        <input type="file" id="ProductImage" name="lname" value=@Model.ProductImage><br><br>


        <input type="button" value="Save" id="btn" class="btn btn-primary">
    </div>
</div>





@section Scripts {

    <script>
        $('#btn').click(function () {
            var elmId = $(this).attr("id");
            //getDetails(elmId);
            console.log("ASDASD");
            console.log($('#fname').val());
            send();
        });
        function send() {
            
            $.post("/products/edit", {
                ProductName: $('#ProductName').val(),
                ProductColor: $('#ProductColor').val(),
                SupplierID: $('#SupplierID').val(), ProductRating: $('#ProductRating').val(),
                ProductPrice: $('#ProductPrice').val(), ProductImage: $('#ProductImage').val(),
                ProductQuantityS: $('#ProductQuantityS').val(), ProductQuantityM: $('#ProductQuantityM').val(),
                ProductQuantityL: $('#ProductQuantityL').val()
                
            }, function (data) {
                console.log(data); // John
                console.log(data); // 2pm
                $("#maindiv").html(data);
            });
        }
    </script>




    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
