@model IEnumerable<Aladdin.Models.Product>

@{
    Layout = "~/Views/Shared/mylayout.cshtml";
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/products.css">
@*<link rel="stylesheet" href="~/css/shared-style.css">*@

<h1>Index</h1>

@section Scripts
{
    <script>

        $('.Details').click(function () {
            var elmId = $(this).attr("id");
            getDetails(elmId);
        });
        // get product's details
        function getDetails(id) {
            $.get('/Products/details', { "id": id }, function (data, status) {
                $('#getitem').html(data);
            })
        }
        // filter 
        $('#btn-filter').click(filter);
        function filter() {
            var Stringvalue = $('#name-search').val();
            console.log(Stringvalue);
            var conceptName = $('#colors-search').find(":selected").text();
            var minValue = $('#min-search').val();
            var maxValue = $('#max-search').val();
            var rating = $('#rating-search').val();
            $.get('/Products/index', { searchColor: conceptName, searchString: Stringvalue, minValue: minValue, maxValue: maxValue, rating: rating }, function (data, status) {
                $('body').html(data);
            })
        }
        // show all products
        $('#btn-show').click(show);
        function show() {
            $.get('/Products/index', function (data, status) {
                $('body').html(data);

            })
        }
        // update min price
        function updateMinPrice(val) {
            $('#min-val').val(val);
        }
        // update max price
        function updateMaxPrice(val) {
            $('#max-val').val(val);
        }

    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
}



<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <input class="form-control" type="search" placeholder="Name Search" aria-label="Search" id="name-search">
                </li>

                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 select-box">
                        <select class="nav-link select-box" aria-labelledby="navbarDropdown" id="colors-search">
                            <option disabled selected>Color</option>
                            @foreach (String item in Model.Select(x=> x.ProductColor).Distinct())
                            {
                                <option value=Product Color>@Html.DisplayFor(modelItem => item)</option>
                            }
                        </select>
                    </form>
                </li>

                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 select-box">
                        <select class="nav-link select-box" aria-labelledby="navbarDropdown" id="rating-search">
                            <option disabled selected>Rating</option>
                            <option value="1">1+</option>
                            <option value="2">2+</option>
                            <option value="3">3+</option>
                            <option value="4">4+</option>
                            <option value="5">5+</option>
                        </select>
                    </form>
                </li>


                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <label class="nav-link" for="price-min">Min Price:</label>
                        <input class="nav-link" type="range" name="price-min" id="min-search" value="0" min="0" max="1000" onchange="updateMinPrice(this.value);">
                        <input class="price-input nav-link" type="text" id="min-val" value="0">
                    </form>

                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <label class="nav-link" for="price-max">Max Price:</label>
                        <input class="nav-link" type="range" name="price-max" id="max-search" value="1000" min="0" max="1000" onchange="updateMaxPrice(this.value);">
                        <input class="price-input nav-link" type="text" id="max-val" value="1000">
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="btn-filter">Filter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="btn-show">Show All</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Price</a>
                        <a class="dropdown-item" href="#">New</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>




<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="product card">
                <img src="/images/@Html.DisplayFor(modelItem => item.ProductImage)" width="20" height="160" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.ProductPrice)₪</p>
@*                    <button type="button" class="btn btn-info Details" data-toggle="modal" data-target="#exampleModal" id="@item.ProductID">
                        View Details
                    </button>*@
                    <a href="/Products/Details/@item.ProductID" class="btn btn-info Details">View Details</a>
                </div>
            </div>
        </div>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aladdin's Hat Shop</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="getitem">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

