

@{
    Layout = "~/Views/Shared/Empty_Layout.cshtml";
    var x = ViewData["SSS"];
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <h2></h2>
</head>
<body id="body">

    <script>

        $("#productsbtn").one('click',test1);
        function test1() {
            console.log("inside of function")
            $.get('/admin/productsindexadmin', {}, function (data, status) {
                console.log("inside test1");
                // console.log(status);
                //console.log(token);
                $("#Products").html(data);
            })
        }

        function test2() {
            console.log("inside test2");

            if ($("#btn-filter").is(":hidden")){
                $("#Products").children().show();
            }
            else {
                $("#Products").children().hide();
            }
        }
        $("#productsbtn").click(test2);

        


    </script>
    <h2>Admin  </h2>


    <button type="button" id="productsbtn">AllProducts</button>
    <div id="Products">
    </div>

    <button type="button" id="statisticsbtn">statistics</button>
    <div id="statistics">
    </div>





</body>

