
@{
    Layout = "~/Views/Shared/Empty_Layout.cshtml";
 
}


<!DOCTYPE html>
<html>
<title>Admin Page</title>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
    <h2></h2>
</head>

<body>

    @section Scripts {

        <script>
            console.log("ASDASDSAD");
            console.log($("#sup").html())
            $("#sup").click(test1)
            $("#prod").click(test2)
            $("#cust").click(test3)
            $("#stat").click(test4)
            console.log("ssa");


            $(".container").css('margin-left', '0px');

            function test1() {
                console.log("SSSSsS");
                console.log($("#hid").html())
                var token = $("#hid").html();
                $.get('/suppliers/index', {}, function (data, status) {
                    console.log("inside test1");
                    // console.log(status);
                    console.log(data);
                    $("#maindiv").html(data);
                })
                console.log("SSSSsS");
            }



            function test2() {

                // console.log($("#hid").html())
                //var token = $("#hid").html();
                console.log("SSSSsS");
                $.get('/products/prodadmin', {}, function (data, status) {
                    console.log("inside test1");
                    // console.log(status);
                    console.log(data);
                    $("#maindiv").html(data);
                })
                console.log("SSSSsS");
            }

            function test3() {

                //console.log($("#hid").html())
                // var token = $("#hid").html();
                console.log("SSSSsS");
                $.get('/customers/index', {}, function (data, status) {
                    console.log("inside test1");
                    // console.log(status);
                    console.log(data);
                    $("#maindiv").html(data);
                })
                console.log("SSSSsS");
            }



            function test4() {
                console.log("SSSSsS");
                console.log($("#hid").html())
                var token = $("#hid").html();
                $.get('/statistics/index', {}, function (data, status) {
                    console.log("inside test1");
                    // console.log(status);
                    console.log(data);
                    $("#maindiv").html(data);
                })
                console.log("SSSSsS");
            }

        </script>
    }

    <main>
        <aside class="sidebar">
            <h3 class="tertiary-title">Menu</h3>
            <button class="x btn sidebar-btn" id="sup">Manage Suppliers</button>
            <button class="x btn sidebar-btn" id="prod">Manage Products</button>
            <button class="x btn sidebar-btn" id="cust">Manage Customers</button>
            <button class="x btn sidebar-btn" id="stat">Statistics</button>
        </aside>

        <!-- Page Content -->
        <div class="graph-container">
            <div class="graph" id="maindiv">
            </div>
        </div>
    </main>
</body>
</html>
