
@{
    Layout = "~/Views/Shared/Empty_Layout.cshtml";
    var x = ViewData["SSS"];
    var token = ViewData["token"];
}


<!DOCTYPE html>
<html>
<title>XXX</title>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
    <h2></h2>
</head>

<body>

    

    <script>
        console.log("ASDASDSAD");
        console.log($("#sup").html())
        $("#sup").click(test1)


        function test1() {

            console.log($("#hid").html())
            var token = $("#hid").html();
            $.get('/suppliers/index', { token: token}, function (data, status) {
                console.log("inside test1");
                // console.log(status);
                console.log(data);
                $("#maindiv").html(data);
            })
            console.log("SSSSsS");


        }

    </script>




    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Menu</h3>
        <button class="x" id="sup">Manage Suppliers</button>
        <button class="x" id="prod">Manage Products</button>
        <button class="x" id="cust">Manage Customers</button>
        <button class="x" id="stat">Statistics</button>
    </div>

    <!-- Page Content -->
    <div style="margin-left:25%">

        <div class="w3-container w3-teal">
            <h1>My Page</h1>
        </div>

        <button class="x" id="hid" hidden>@token</button>

        <div class="w3-container1" id="maindiv">
            <h2>test</h2>
            <p>The sidebar with is set with "style="width:25%".</p>
            <p>The left margin of the page content is set to the same value.</p>
        </div>

    </div>

</body>
</html>
