
@{
    Layout = "~/Views/Shared/Empty_Layout_no_scripts.cshtml";
    //Layout = "~/Views/Shared/mylayout.cshtml";

}


<title>Admin Page</title>


<head>

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    


    <style>




        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .x {
            background-color: #008CBA;
        }
        /* Blue */
        .button3 {
            background-color: #f44336;
        }
        /* Red */
        .button4 {
            background-color: #e7e7e7;
            color: black;
        }
        /* Gray */
        .button5 {
            background-color: #555555;
        }
        /* Black */
    </style>

</head>



<body>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @section Scripts {

        <script>
            console.log("ASDASDSAD");
            console.log($("#sup").html())
            $("#sup").click(test1)
            $("#prod").click(test2)
            $("#cust").click(test3)
            $("#stat").click(test4)
            $("#stat2").click(test5)
            console.log("ssa");


            $(".container").css('margin-left', '0px');

            function test1() {
                console.log("SSSSsS");
                console.log($("#hid").html())
                var token = $("#hid").html();
                $.get('/suppliers/index', {}, function (data, status) {
                    console.log("inside test1");
                    // console.log(status);
                    console.log(data);
                    $("#maindiv").html(data);
                    $("#maindiv").html(data);
                    $("#maindiv").html(data);
                    $("#maindiv").html(data);
                })
                console.log("SSSSsS");
            }



            function test2() {

                // console.log($("#hid").html())
                //var token = $("#hid").html();
                console.log("SSSSsS");
                $.get('/products/prodadmin', {}, function (data, status) {
                    console.log("inside test1");
                    // console.log(status);
                    console.log(data);
                    $("#maindiv").html(data);
                })
                console.log("SSSSsS");
            }

            function test3() {

                //console.log($("#hid").html())
                // var token = $("#hid").html();
                console.log("SSSSsS");
                $.get('/customers/index', {}, function (data, status) {
                    console.log("inside test1");
                    // console.log(status);
                    console.log(data);
                    $("#maindiv").html(data);
                })
                console.log("SSSSsS");
            }



            function test4() {
                console.log("SSSSsS");
                console.log($("#hid").html())
                var token = $("#hid").html();
                $.get('/statistics/index', {}, function (data, status) {
                    console.log("inside test1");
                    // console.log(status);
                    console.log(data);
                    $("#maindiv").html(data);
                })
                console.log("SSSSsS");
            }

            function test5() {
                console.log("SSSSsS");
                console.log($("#hid").html())
                var token = $("#hid").html();
                $.get('/statistics/ByProduct', {}, function (data, status) {
                    console.log("inside test1");
                    // console.log(status);
                    console.log(data);
                    $("#maindiv").html(data);
                })
                console.log("SSSSsS");
            }

        </script>
    }

    <main>
        <aside class="sidebar">
            <h3 class="tertiary-title">Menu</h3>
            <button class="x" id="sup">Manage Suppliers</button>
            <button class="x btn sidebar-btn" id="prod">Manage Products</button>
            <button class="x btn sidebar-btn" id="cust">Manage Customers</button>
            <button class="x btn sidebar-btn" id="stat">Statistics - By Customer Address</button>
            <button class="x btn sidebar-btn" id="stat2">Statistics - By Products</button>
        </aside>

        <!-- Page Content -->
        <div class="graph-container">
            <div class="graph" id="maindiv">
            </div>
        </div>
    </main>
</body>

