@{
    Layout = "~/Views/Shared/_LayoutNOHEADERFOOTER.cshtml";
}






<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>


    <h1 style="color:green">Succefully Updated</h1>


