@model Aladdin.Models.Supplier

@{
    Layout = "~/Views/Shared/_LayoutNOHEADERFOOTER.cshtml";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Supplier</h4>


        <div class="row">
            <div class="col-md-4">
                <label for="fname">SupplierName</label>
                <input type="text" id="SupplierName" name="fname"><br><br>
                <label for="lname">SupplierPhoneNumber</label>
                <input type="text" id="SupplierPhoneNumber" name="lname"><br><br>
                <label for="s">SupplierProducts List Will be Shown but Entered Via the Product TAB</label>

                <input type="button" value="Save" id="btn" class="btn btn-primary">
            </div>
        </div>





@section Scripts {

    <script>
        $('#btn').click(function () {
            var elmId = $(this).attr("id");
            //getDetails(elmId);
            send();
        });
        function send() {
            $.post("/Suppliers/create", { SupplierID: $('#SupplierID').val(), SupplierName: $('#SupplierName').val(), SupplierPhonNumber: $('#SupplierPhoneNumber').val() }, function (data) {
                $("#maindiv").html(data);
            });
        }
    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
