@model Aladdin.Models.Supplier

@{
    Layout = "~/Views/Shared/_LayoutNOHEADERFOOTER.cshtml";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Supplier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <label for="fname">SupplierName</label>
        <input type="text" id="SupplierName" name="fname" value=@Model.SupplierName><br><br>
        <label for="lname">SupplierPhoneNumber</label>
        <input type="text" id="SupplierPhoneNumber" name="lname" value=@Model.SupplierPhonNumber><br><br>
        <label for="lname">SupplierID</label>
        <input type="text" id="SupplierID" name="lname" value=@Model.SupplierID><br><br>
        <input type="button" value="Save" id="btn">
    </div>
</div>


@section Scripts {

    <script>
        $('#btn').click(function () {
            var elmId = $(this).attr("id");
            //getDetails(elmId);
            console.log("ASDASD");
            console.log($('#fname').val());
            send();
        });
        function send() {
            $.post("/Suppliers/edit", { SupplierID: $('#SupplierID').val(), SupplierName: $('#SupplierName').val(), SupplierPhonNumber: $('#SupplierPhoneNumber').val()}, function (data) {
            console.log(data); // John
            console.log(data); // 2pm
        });
        }
    </script>




    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
