@model Alladin.Models.Customer
@{
    ViewData["Title"] = "LoginPage";
}

<h1>Login Page</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPassword" class="control-label"></label>
                <input asp-for="CustomerPassword" class="form-control" />
                <span asp-validation-for="CustomerPassword" class="text-danger"></span>
                <input type="submit" value="Login" class="btn btn-primary" />
                <input type="submit" value="Signup" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

