@model Alladin.Models.Customer
@{
    ViewData["Title"] = "LoginPage";
}

<h1>LoginPage!!!!!!!!!!!!</h1>


<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    
    
    <div class="form-group">
        <input asp-for="CustomerPhoneNumber" class="form-control" />
        </div>
    
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>






<button type="submit" action="SSS">Sign Up</button>
<button type="submit">Sign In</button>





